{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col">

                {{ event.titre }}

                <p class="card-text">{{ event.descriptionEvenement }}</p>
                <a href="#" class="btn btn-primary">Participer à l'événement</a>

            </div>
            <div class="col sidenav">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cumque, recusandae quibusdam non quasi voluptatum libero dicta ducimus tempore excepturi voluptas animi cupiditate obcaecati similique aliquam. Dolor ratione repudiandae ut!Facilis aperiam modi labore reiciendis iusto at ad, asperiores, nam corporis autem accusamus esse! Et harum rerum eveniet delectus dignissimos libero vitae fugiat nesciunt consequuntur atque, voluptatum odit obcaecati perferendis?


            </div>


        </div>
    </div>
{% endblock %}
