{% extends 'base.html.twig' %}

{% block title %}Hello EventController!
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Voici les événements</h1>

        <div class="row">
            {% for evenement in evenements %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            <h4 class="card-title">

                                {{ evenement.titre }}
                            </h4>
                            <small>
                                Le
                                {{ evenement.dateDebut |date("d/m/Y") }}</small>

                        </div>

                        <img src="http://placehold.it/400x300" alt="Image de l'appartement" style="height:200px;  width:100%; display:block;">

                        <div class="card-body">

                            <p class="card-text"></p>

                            {{ evenement.Description }}

                            <a href="{{ path('detailevenement', {'id' : evenement.id }) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
