{% extends 'baseAdmin.html.twig' %}

{% block title %}Dossier Adhérent "nom prenom" {% endblock %}



{% block body %}
{% block content %}
                    <!-- We'll fill this with dummy content -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
                            <div class="container">
            
                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                    <span>Menu</span> 
                                </button>
                                 <h3 class="ml-5">Liste des adhérents</h3>
                            </div>
                    </nav>
                    {% endblock %}

                     <!-- ici dossier-->hello


                        {% endblock %}
