{% extends 'baseAdmin.html.twig' %}

{% block body %}

	{% block content %}

		<!-- We'll fill this with dummy content -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
			<div class="container">

				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>
			</div>
		</nav>
	{% endblock %}


	{{ form_start(formEditEcole) }}
	{{ form_widget(formEditEcole) }}
	{{ form_end(formEditEcole) }}

{% endblock %}
