{% extends 'baseAdmin.html.twig' %}

{% block body %}

	{% block content %}

		<!-- We'll fill this with dummy content -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
			<div class="container">

				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Menu</span>
				</button>
			</div>
		</nav>
	{% endblock %}

	<h4>Liste des sections de la page accueil</h4>

	<table class="table table-hover mt-5">
		<thead>
			<tr>
				<th>Titre de la section</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>
			{% for sectionaccueil in sectionsAccueil %}
				<tr>
					<td>
						{{ sectionaccueil.titre }}
					</td>

					<td>
						<a class="btn btn-primary" href="{{ path('admin_texte_delete_accueil', {'id' : sectionaccueil.id }) }}">Supprimer</a>
					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>

{% endblock %}
