{% extends 'base.html.twig' %}

{% block title %}
	- L'école
{% endblock %}

{% block body %}

	<div class="container">

		{% for element in contenuEcole %}

			<h4>{{ element.titre }}</h4>

			{{ element.section }}
		{% endfor %}

	</div>

{% endblock %}
