{% extends 'base.html.twig' %}

{% block title %}
	- L'école
{% endblock %}

{% block body %}

	<div class="container">

	
		{% for texte in textes %}
		<div
			class="jumbotron">
			<!-- section -->
			<div class="container bg-2 text-center">

			
				<h3>{{ texte.titre }}</h3>
		

				{% if texte.photo %}

				<img src="{{ asset('uploads/photoSection/' ~ texte.photo ) }} " width="300em" height="300em">

				{% else %}
				{% endif %}

				{{ texte.section }}

		
			</div>
		</div>
		​
		​{% endfor %}
		<h4>Documents à télécharger</h4>

				Afin de télécharger les différents documents nécessaires pour l'inscription à l'école, cliquez <a href="{{ path('dossier_inscription_vierge') }} ">ici</a>
	</div>

{% endblock %}
