{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Evenement
{% endblock %}

{% block body %}
{% block content %}

                    <!-- We'll fill this with dummy content -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-text">
                            <div class="container">
            
                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                    <span>Menu</span> 
                                </button>
                            </div>
                    </nav>
                    {% endblock %}
	<h1>Editer les événements</h1>

	{{ include('evenement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
	<a class="btn btn-primary" href="{{ path('evenement_index') }}"><p> Retour à la liste </p></a>
{% endblock %}
