{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Evenement
{% endblock %}

{% block body %}
	<h1>Editer les événements</h1>

	{{ include('evenement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
	<a href="{{ path('evenement_index') }}"><p> < < Retour à la liste </p></a>
{% endblock %}
