{% extends 'baseAdmin.html.twig' %}

    {% block title %}Participants{% endblock %}

        {% block body %}
        <h3>Voir les participants pour l'événement sélectionné</h3>

     
      
            {{ participants.adherent }}



        {% endblock %}
