{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-fluid">

		<div class="row">

			<div class="col">

				<h4>{{ evenement.titre }}</h4>

				<p class="card-text">{{ evenement.description }}</p>
				<br>
				Il faut être inscrit pour pouvoir participer aux événements

			</div>

		</div>
	</div>
{% endblock %}
