{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-fluid">

		<div class="row">

			<div class="col">

				{{ evenement.titre }}

				<p class="card-text">{{ evenement.description }}</p>

				Il faut être inscrit pour pouvoir participer aux événements

			</div>

		</div>
	</div>
{% endblock %}
