<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>Réinisialisation Mot de passe</title>
        </head>
	
<body>

    <p> Bonjour {{ nom }} {{ prenom }} </p>
    
    <p> Votre nouveau mot de passe: {{  mot_de_passe }}  </p>

    <a href="{{ url }}"> Cliquez sur le lien pour crée un nouveau mot de passe  </a>

</body>
</html>