<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>Recuperation de pseudo</title>
        </head>
	
<body>

    <p> Bonjour {{ nom }} {{ prenom }} </p>
    
    <p> Votre pseudo est: {{  username }}  </p>

</body>
</html>